@import "tailwindcss";

/* Load Google Fonts */

/* Light Mode Variables */
:root {
  --background: #ebebeb;
  --foreground: #313131;

  --font-poppins: "Poppins", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-sans: var(--font-poppins), var(--font-lato), sans-serif;
  --font-mono: monospace;
}

/* Dark Mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Global Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
