@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-poppins), var(--font-lato), sans-serif;
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: var(--font-sans);
}

.about_bg_Image {
  background-image: url("/assets/AboutImage/gallery-ds-X_tEarX6svc-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
}
